*{
    padding:0;
    margin:0;
}
html{
    height:100%;
}
body{
    height:100%;
}
a{
    outline:none;
}
img{
    border:none;
}
ul{
    list-style:none;
}
iframe{
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.clear{
    clear:both;
}
input::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}
#main{
    padding:20px;
    min-width:470px;
    min-height:170px;
}
.iframe-wrapper{
    overflow:hidden;
}
#presentation-thumbnails{
    float:left;
    height:100%;
    overflow-y:scroll;
    padding-right:10px;

}
#presentation-thumbnails li{
    padding-bottom:10px;
    position:relative;
}
#presentation-thumbnails a{
    display:block;
    position:absolute;
    width:205px;
    height:154px;
    z-index:2;
    background:rgba(255,255,255,0.4);
}
#presentation-thumbnails a:hover{
    background:rgba(255,255,255,0);
}
#presentation-thumbnails iframe{
    /*zoom:0.5;*/
    -moz-transform: scale(0.2);
    -o-transform: scale(0.2);
    -webkit-transform: scale(0.2);
}
#presentation-thumbnails .iframe-wrapper{
    width:205px;
    height:154px;
}
#presentation-main{
    float:left;
    padding-left:20px;
}

#presentation-main .iframe-wrapper{
    margin-right:-1000px;
}