*{
    padding:0;
    margin:0;
}
html{
    height:100%;
}
body{
    min-height:100%;
}
a{
    outline:none;
}
img{
    border:none;
}
ul,li{
    list-style:none;
}
.clear{
    clear:both;
}
input::-moz-focus-inner /*Remove button padding in FF*/
{
    border: 0;
    padding: 0;
}
#presentation-thumbnails{
    float:left;
    width:25%;
}
#presentation-main{
    float:left;
    width:50%;
}